<div class="main">
	<h1>Caesar Cipher</h1>
	<form>
		<p>What do you want to encode?</p>
		<input type="text" name="phrase"/><br/>
		<p>Enter a shift factor:</p>
		<input type="text" name="shift"/><br/>
		<input type="submit" value="Submit" class="submit"/>
	</form>
	<% if encoder.original && encoder.encoded %>
		<p>Original:   <%= encoder.original %></p>
		<p>Shift:      <%= encoder.shift %></p>   
		<p>Encrypted:  <%= encoder.encoded %></p>
	<% end %>
</div>